body{
    margin: auto;
    font-family: sans-serif;
}

/*navbar */
.navbar{
    margin-top: 3%;
    margin-left: 2.5%;
}
.navbar-toggler{
    background-color: rgb(39, 154, 241);
}
.navbar-nav{
    margin-left: 60%;
}
.nav-item{
    padding-right: 2.5%;
    font-weight: bold;
}
/*hero section*/
.hero{
    height: 720px;
    margin: 0px 0px 0px 0px;
    background-image: url("smiling-man-using-tablet-at-the-window-BSZF00277-removebg-preview 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 3%;
}
.text{
    margin-left: 4.5%;
    margin-top: 60px;
    left: 57px;
    top: 486px;
   font-weight: 400;
    font-size: 30px;
    line-height: 36px;
   color: #222831;
}
.heading{
    width: 959px;
    height: 85px;
    left: 2.5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
     line-height: 79px;
}
#txt{
   width: 505px;
   height: 88px;
   left: 2.5%;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 61px;
   color: #222831;
}
.search{
    margin-top: 30px;
    width: 540px;
    height: 78px;
    background-color: #B0CEDE;
    color: grey;
    border-color: #B0CEDE;
    border-radius: 30px;
    font-size: 30px;
    margin-left: 4%;
}
.search-icon{
    height: 72px;
    width: 44px;
    background-color: #B0CEDE;
    color: grey;
    border-color: #B0CEDE;
    border-radius: 8px;
    cursor: pointer;
}
.icons{
    display: flex;
    margin-left: 4.5%;
    font-size: small;
    margin-top: 2%;
}
.icons button{
    background-color: #B0CEDE;
    border-radius: 10px;
    height: 28px;
    width: 90px;
    margin-right: 1%;
    margin-left: 8px;
    border-color: #B0CEDE;
}
.meet{
    background-color: #069E31;
    font-weight: bold;
    color: white;
    height: 55px;
    width: 420px;
    margin-left:8.3%;
    font-size: 27px;
    border-color: #069E31;
    border-radius: 8px;
    margin-top: 2%;
}
.news{
    display: flex;
    margin-top: 2.5%;
    margin-left: 5%;
}
.news img{
    margin-right: 23px;
}
.news p{
    font-size: 30px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 40px;
}

/*button services*/
.mid{
    margin-top: 5%;
}
.mid h1{
    color: #5488a3;
    margin-left: 37%;
    font-weight: bold;
    font-size: 65px;
}
.mid p{
    color: #6eafd1;
    margin-left: 28%;
    font-size: 30px;
}
.col button{
    width: 350px;
    height: 215px;
    background-color: #E1F1FA;
    border: #E1F1FA;
    border-radius: 8px;
    margin-bottom: 40px;
    color: #222831;
    column-gap: 5%;
    padding-right: 5%;
}
.col button h1{
    color: #222831;
}
.col{
    column-gap: 6%;
}
.col button:hover{
    border-color: #6eafd1;
}
/*body*/
.mid2{
    background-color: #E1F1FA;
    text-align: center;
    color: #222831;
    font-weight: bold;
    font-size: 50px;
    border-top: 40px;
}
.mid2 p{
    color: #000000;
    font-size: 20px;
    font-weight: lighter;
}
.col-servi{
    font-size: 18px;
    font-weight: lighter;

}
.col-servi h2{
    font-weight: bolder;
}
/*links*/
.links{

    background-color: #001E4B;
}
.col-link{
    padding-top: 2.2%;
    padding-left: 3%;
}

/*about */
.about{
    width: 84%;
    padding-bottom: 5%;
    margin-left: 8%;
    margin-top: 5%;
    background-color: #001E4B;
    border-radius: 20px;
    color: #2F759C;
    text-align: center;
}
.letter{
    align-items: center;
    font-size: 82px;
    color: #62a5ca;
    font-weight: bolder;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}
.letter p{
    font-size: 20px;
    color: black;
    font-weight: lighter;
}
.letter button{
   text-align: center;
   align-items: center;
   margin-left: 0%;
}

/*testimonials*/
.test{
    background-color: #E1F1FA;
    padding-bottom: 5%;
}
.test h1{
    color: #222831;
    font-size: 53px;
    text-align: center;
    font-weight: bolder;
}

.pics{
    margin-top: 5%;
    display: flex;
    margin-left: 22%;
    margin-right: 3%;
    
}
.accordion{
    display: flex;
}
.accordion-button{
    border-color:#E1F1FA ;
    padding-right: 2%;
}
.accordion-button:hover{
    border-color: #E1F1FA;
}
.content{
    background-color: white;
    color: black;
    width: 90%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
}
.content p{
    color: grey;
}
.content h3{
    font-weight: bold;
}

/*contact and location */
.blu{
    background-color: #001E4B;
    padding-bottom: 3%;
    padding-top: 3%;
}
.container-last h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 9%;
}
.container-last input{
   height: 70px;
   width: 70%;
   background-color: #001E4B;
   margin-left: 100px;
   border-color: #001E4B;
   border-radius: 10px;
   font-size: 25px;
}
.container-last textarea{
   height: 70px;
   width: 400px;
   background-color: #001E4B;
   margin-left: 100px;
   border-color: #001E4B;
   border-radius: 10px;
   font-size: 25px;
}
.container-last button{
   height: 50px;
   width: 300px;
   background-color: #2F759C;
   margin-left: 100px;
   border-color: #2F759C;
   border-radius: 10px;
   font-size: 25px;
}
.location{
    display: list-item;
     margin-top: 6%;
     margin-left: 8%;
     margin-right: 8%;
     margin-bottom: 3%;
 }

 /*end-section*/
 .end{
    display: flex;
   background-color: #25282F;
   color: white;
}
.end table{
    margin-left: 52px;
    color: white;
    column-gap: 30px;
    font-size: small;
}
.end img{
    margin-left: 280px;
    margin-top: 50px;
}
.end p{
    margin-top: 200px;
}

/*mail section*/
.more{
    width: 550px;
    height: 600px;
    padding: 10px;
    border: 2px gray dotted;
    border-radius: 1px;
    margin-left: 35%;
    margin-top: 50px;
    border-radius: 2px;
    background-color: #2F759C;
    color: white;
}
.more h1{
    margin-left: 120px;
    font-weight: bold;
    font-size: 45px;
}
.acc{
    margin-left: 80px;
}
.acc label{
    margin-bottom: 90px;
}
.met{
    background-color: #069E31;
    font-weight: bold;
    color: white;
    height: 55px;
    width: 420px;
    font-size: 27px;
    
}
.contact-text{
    color: white;
}