body{
    margin: auto;
    font-family: sans-serif;
}

/*navbar */
.navbar{
    margin-top: 3%;
    margin-left: 2.5%;
}
.navbar-toggler{
    background-color: rgb(39, 154, 241);
}
.navbar-nav{
    margin-left: 60%;
}
.nav-item{
    padding-right: 2.5%;
    font-weight: bold;
}
/*hero section*/
.hero{
    height: 800px;
    margin: 0px 0px 0px 0px;
    background-image: url("smiling-man-using-tablet-at-the-window-BSZF00277-removebg-preview 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 2%;
}
.hero{
    margin-left: 2.5%;
    margin-top: 80px;
    left: 57px;
    top: 486px;
   font-weight: 400;
    font-size: 30px;
    line-height: 36px;
   color: #222831;
}
.heading{
    width: 959px;
    height: 85px;
    left: 2.5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
     line-height: 79px;
}
#txt{
   width: 505px;
   height: 88px;
   left: 2.5%;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 61px;
   color: #222831;
}
